Repository EnhancedNetwork/TownofHost-Enhanced, pull requests merged in 2024-11, with the labels that each got.

#1274 New Crowdin updates
  Resources/Lang/zh_TW.json
Labels: Add/Update Translation

#1293 Return ChiefOfPolice
  Modules/CustomRolesHelper.cs
  Modules/GuessManager.cs
  Patches/IntroPatch.cs
  Resources/Lang/en_US.json
  Roles/AddOns/Impostor/Madmate.cs
  Roles/Crewmate/ChiefOfPolice.cs
  main.cs
Labels: New Role/Add-on, Rework Role/Add-on

#1294 Rework Amnesiac
  Resources/Lang/en_US.json
  Roles/Neutral/Amnesiac.cs
Labels: Rework Role/Add-on
